@import "../../font/fonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

.CartItem {
  width: 100px;
  height: 146px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  align-items: center;
  justify-content: center;
  .picT {
    width: 80px;
    height: 79px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
  .text {
    width: 80px;
    height: 20px;

    .name {
      font-family: Vazirmatn;
      font-size: 7px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      width: 80px;
      height: 4px;
    }
  }
  .p {
    width: 46px;
    height: 8px;
    font-family: Vazirmatn FD;
    font-size: 8px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    color: #000000;
    margin-right: 9.5px;
  }
}
