@import "../../font/fonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

.YourText {
  width: 430px;
  height: 262px;
  .baner {
    width: 364px;
    height: 224px;
    margin-top: 29px;
    margin-right: 33.98px;
    h1 {
      font-family: Vazirmatn;
      font-size: 14px;
      font-weight: 700;
      line-height: 72px;
      text-align: center;
      width: 62px;
      height: 11px;
      color: #3f6745;
      margin-right: 151px;
      margin-bottom: 32px;
    }
    .bord {
      width: 364px;
      height: 182px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      .right {
        width: 14px;
        height: 14px;
        padding: 0px 0px 0px 0px;
        border-radius: 1000px 1000px 1000px 1000px;
        margin-bottom: 66px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #ff9d00;
        img {
          padding-bottom: 3px;
          padding-left: 1px;
        }
      }
      .left {
        width: 14px;
        height: 14px;
        padding: 2px 0px 0px 0px;
        border-radius: 1000px 1000px 1000px 1000px;
        margin-bottom: 66px;
        background: linear-gradient(
          180deg,
          rgba(255, 88, 0, 0.85) 0%,
          #ff9d00 100%
        );
        img {
          padding-bottom: 9px;
          padding-right: 2px;
        }
      }
      .Tv {
        width: 318px;
        height: 146px;
        gap: 9px;
        display: flex;
      }
    }
  }
}
.sec {
  width: 33px;
  height: 5px;
  margin-right: 199.48px;
}
