@import "../../font/fonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}
.bac {
  width: Fixed 430px;
  height: 176px;
  gap: 10px;
  background: #3f67452e;
  padding: 8px, 32px, 8px, 32px;
  display: flex;
  .news {
    width: 94px;
    height: 172px;
    gap: 7px;
    margin-top: 2px;
    margin-right: 31px;
    .new-1 {
      width: 96px;
      height: 49px;
      gap: 2px;
      display: flex;
      .word {
        width: 20px;
        height: 20px;
        margin-top: 14.5px;
      }
      .NW {
        width: 74px;
        height: 49px;

        .NH {
          font-family: Vazirmatn;
          font-size: 6px;
          font-weight: 700;
          line-height: 28px;
          text-align: right;
          width: 74px;
          height: 22px;
          color: #000000;
        }
        .NP {
          font-family: Vazirmatn;
          font-size: 5px;
          font-weight: 400;
          line-height: 9px;
          text-align: right;
          width: 74px;
          height: 27px;
          color: #000000;
        }
      }
    }
    .new-2 {
      margin-top: 7px;
      width: 96px;
      height: 49px;
      gap: 2px;
      display: flex;
      .word {
        width: 20px;
        height: 20px;
        margin-top: 14.5px;
      }
      .NW {
        width: 74px;
        height: 49px;

        .NH {
          font-family: Vazirmatn;
          font-size: 6px;
          font-weight: 700;
          line-height: 28px;
          text-align: right;
          width: 74px;
          height: 22px;
          color: #000000;
        }
        .NP {
          font-family: Vazirmatn;
          font-size: 5px;
          font-weight: 400;
          line-height: 9px;
          text-align: right;
          width: 74px;
          height: 27px;
          color: #000000;
        }
      }
    }
  }
  .backgrand {
    width: 176px;
    height: 95px;
    margin-top: 81px;
  }
  .names {
    width: 83px;
    height: 160px;
    justify-content: space-between;

    .hat {
      width: 83px;
      height: 27px;
      margin-top: 8px;
    }

    .avatar {
      width: 83px;
      height: 25px;
      margin-top: 15px;
    }

    .video {
      width: 83px;
      height: 21px;
      margin-top: 15px;
    }
    .p3 {
      width: 83px;
      height: 24px;
      margin-top: 15px;

    }
  }
}
